@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$fontFamily: "Poppins", sans-serif;
$fontSize: 16px;
$colorWhite: #fff;
$colorText1: #d1d0c4;
$colorGray: #f6f5f5;
$colorDarkGray: #1e1f23;
$transition: 0.4s ease;
$padding: 50px 0;

/*********
mixins
**********/
@mixin imgBg($height) {
    height: $height;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
hr {
   display: block;
   content: "";
   height: 1px;
   width: 15%;
   background: $colorText1;
   margin: 20px auto;
}


/*********
basic-style
**********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 1.6;
    background-image: url(../img/bg.jpg);
    @include imgBg(100vh);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: $colorDarkGray;
    &:hover {
        cursor: pointer;
        transition: $transition;
        color: $colorWhite;
    }
}
.main {
    width: 80%;
    margin: auto;
}
.container {
    width: 90%;
    margin: auto;
}
h2 {
    font-size: 1.5rem;
}
/*********
navigation
**********/

nav {
    background: linear-gradient(rgba($colorText1,.1), rgba($colorGray, .1));
    margin: 50px 0;
    padding: 10px;
    ul {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    li {
        display: inline-block;
        padding: 0 10px;
    }
}

/*********
header
**********/
header {
    padding: $padding;
    color: $colorWhite;
    text-align: center;
    h1 {
        font-size: 4rem;
        font-weight: 700;
    }
    p {
        color: $colorText1;
    }
}
/*********
mainHeader
**********/
.main {
    box-shadow: 0 0 50px black;
}
.mainHeader {
    background-image: url(../img/pic02.jpg);
    @include imgBg(60vh);
    background-attachment: scroll;  
}

/*********
fringila
**********/
.fringila {
    padding: $padding;
    text-align: center;
    background-color: $colorWhite;
    hr {
        background-color: red;
    }
    p {
        color: $colorText1;
        font-size: .9rem;
    }
}
/***********
text
************/
.text {
    padding: $padding;
    background-color: $colorText1;
    color: $colorDarkGray;
    p {
        font-size: .9rem;
    }

}