@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*********
mixins
**********/
hr {
  display: block;
  content: "";
  height: 1px;
  width: 15%;
  background: #d1d0c4;
  margin: 20px auto;
}

/*********
basic-style
**********/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background-image: url(../img/bg.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1e1f23;
}

a:hover {
  cursor: pointer;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  color: #fff;
}

.main {
  width: 80%;
  margin: auto;
}

.container {
  width: 90%;
  margin: auto;
}

h2 {
  font-size: 1.5rem;
}

/*********
navigation
**********/
nav {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(209, 208, 196, 0.1)), to(rgba(246, 245, 245, 0.1)));
  background: linear-gradient(rgba(209, 208, 196, 0.1), rgba(246, 245, 245, 0.1));
  margin: 50px 0;
  padding: 10px;
}

nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

nav li {
  display: inline-block;
  padding: 0 10px;
}

/*********
header
**********/
header {
  padding: 50px 0;
  color: #fff;
  text-align: center;
}

header h1 {
  font-size: 4rem;
  font-weight: 700;
}

header p {
  color: #d1d0c4;
}

/*********
mainHeader
**********/
.main {
  -webkit-box-shadow: 0 0 50px black;
          box-shadow: 0 0 50px black;
}

.mainHeader {
  background-image: url(../img/pic02.jpg);
  height: 60vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-attachment: scroll;
}

/*********
fringila
**********/
.fringila {
  padding: 50px 0;
  text-align: center;
  background-color: #fff;
}

.fringila hr {
  background-color: red;
}

.fringila p {
  color: #d1d0c4;
  font-size: .9rem;
}

/***********
text
************/
.text {
  padding: 50px 0;
  background-color: #d1d0c4;
  color: #1e1f23;
}

.text p {
  font-size: .9rem;
}

/***********
gallery
************/
.gallery {
  padding: 50px 0;
  background-color: #1e1f23;
  color: #fff;
  text-align: center;
}

.gallery p {
  font-size: .9rem;
  color: #d1d0c4;
  font-size: 300;
}

.gallery .container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.gallery .container img {
  width: 100%;
  -webkit-box-shadow: 0 0 10px #121b01;
          box-shadow: 0 0 10px #121b01;
}

.gallery .container div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
          flex: 0 0 48%;
  margin-top: 30px;
}

/**********
vivvera
***********/
.vivvera {
  padding: 50px 0;
  background: #1e1f23;
  text-align: center;
}

.vivvera .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vivvera .container img {
  width: 100%;
  height: 101%;
}

.vivvera .container article {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.vivvera .container h2 {
  margin-bottom: 30px;
}

.vivvera .container .text1 {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vivvera .container .text1 p {
  font-size: .8rem;
  color: #d1d0c4;
  margin-top: 10px;
  font-size: 300;
  padding: 10px;
}

.vivvera .container #textBlack {
  background-color: #fff;
}

.vivvera .container #textBlack h2 {
  color: #1e1f23;
}
/*# sourceMappingURL=style.css.map */